{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/listing_detail.css' %}">
        <title>{{ listing.title }}</title>
    </head>
    <div class="container">
        <div class="listing-details">
            <h1>{{ object.title }}</h1>
            <p class="price">Price: {{ object.price }}</p>
            <p>Category: {{ object.category.name }}</p>
            <p>Created: {{ object.created_at }}</p>
            <p>Updated: {{ object.updated_at }}</p>
            {% for image in images %}
                <img src="{% static image.product_photos %}" alt="Photo" class="product-photo">
            {% endfor %}
            <p>Description: {{ object.description }}</p>
            {% if user == object.seller.user %}
                <a href="{% url 'listing edit' pk=object.id %}" class="edit-button">Edit listing</a>
            {% endif %}
        </div>
        <div class="profile-details">
            <h1>Seller details:</h1>
            <a href="{% url 'profile detail' pk=object.seller_id %}">{% if object.seller.profile_picture %}<img
                    src="{% static object.seller.profile_picture %}" alt="" class="profile-pic">{% else %}<img
                    src="{% static 'profile_pictures/default_profile_photo.jpeg' %}" alt=""
                    class="profile-pic">{% endif %}</a>
            <div>
                <h2 class="seller-name">{{ object.seller.first_name }}</h2>
                <p>City: {{ object.seller.city }}</p>
                {% if not user.is_authenticated %}
                    <p>Email: <a href="{% url 'login' %}">Log-in </a>to view.</p>
                {% else %}
                    <p>Email: {{ object.seller.user.email }}</p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

