{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/listing_detail.css' %}">
    </head>

    {#    <h1>{{ object.title }}</h1>#}
    {#    <p>Price: {{ object.price }}</p>#}
    {#    <p>Description: {{ object.description }}</p>#}
    {#    <p>Category: {{ object.category.name }}</p>#}
    {#    <p>Seller: {{ object.seller.first_name }}</p>#}
    {#    <p>Created: {{ object.created_at }}</p>#}
    {#    <p>Updated: {{ object.updated_at }}</p>#}
    {#    <h2>Seller's Profile</h2>#}
    {#    <p>Profile Picture: <img src="{% static object.seller.profile_picture %}" alt="Profile Picture"></p>#}
    {#    <p>First Name: {{ object.seller.first_name }}</p>#}
    {##}
    {#    {% if not user.is_authenticated %}#}
    {##}
    {#    <p>Email: <a href="{% url 'login' %}">Log-in </a>to view.</p>#}
    {#        {% else %}#}
    {#            <p>Email: {{ object.seller.user.email }}</p>#}
    {#    {% endif %}#}
    {#    <p>City: {{ object.seller.city }}</p>#}

    <div class="listing-details">
        <h1>{{ object.title }}</h1>
        <p class="price">Price: {{ object.price }}</p>
        <p>Description: {{ object.description }}</p>
        <p>Category: {{ object.category.name }}</p>
        <p>Seller: {{ object.seller.first_name }}</p>
        <p>Created: {{ object.created_at }}</p>
        <p>Updated: {{ object.updated_at }}</p>
        {% for image in images %}
            <img src="{% static image.product_photos %}" alt="Photo">
        {% endfor %}
    </div>

    <div class="profile-details">
        <img src="{% static object.seller.profile_picture %}" alt="Profile Picture">
        <div>
            <p>First Name: {{ object.seller.first_name }}</p>
            <p>City: {{ object.seller.city }}</p>
            {% if not user.is_authenticated %}

                <p>Email: <a href="{% url 'login' %}">Log-in </a>to view.</p>
            {% else %}
                <p>Email: {{ object.seller.user.email }}</p>
            {% endif %}
            {% if user == object.seller.user %}
                <a href="{% url 'listing edit' pk=object.id %}">Edit listing</a>
            {% endif %}
        </div>
    </div>
{% endblock %}