{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <head>
    <title>New Listing</title>
    <link rel="stylesheet" href="{% static 'css/listing_form.css' %}">
    </head>
<h1 class="page-title">Create a New Listing</h1>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="form-group">
{{ form.title.label_tag }} {{ form.title }}
</div>
<div class="form-group">
{{ form.price.label_tag }} {{ form.price }}
</div>
<div class="form-group">
{{ form.description.label_tag }} {{ form.description }}
</div>
<div class="form-group">
{{ form.category.label_tag }} {{ form.category }}
</div>
{{ product_images.management_form }}
{% for product_image_form in product_images %}
{{ product_image_form.as_p }}
{% endfor %}
<div class="form-group">
<button type="submit" class="btn btn-primary">Save</button>
</div>
</form>
{% endblock %}