{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <head>
        <title>Messages</title>
        <link rel="stylesheet" href="{% static 'css/view_threads.css' %}">
    </head>
    <h1 class="page-title">Messages</h1>
    {% for thread in threads %}
        {% if user.id == thread.user_1.user_id %}
            <a href="{% url 'view_messages' pk=thread.user_2_id %}" class="message-sender" style="text-decoration:none;"><div class="conversation-summary">
                <h2 class="conversation-title">Conversation with <img src="{% static thread.user_2.profile_picture %}"
                                                                      alt=""
                                                                      class="conversation-picture"> {{ thread.user_2.first_name }}
                </h2>
                <ul>
                    <li class="message-summary">
                        <p class="message-body">
                               {{ thread.messages.last.sender.first_name }}: {{ thread.messages.last.message_body }}
                        </p>
                        <p class="message-timestamp">Sent: {{ thread.messages.last.timestamp }}</p>
                    </li>
                </ul>
            </div>   </a>

        {% else %}
            <a href="{% url 'view_messages' pk=thread.user_1_id %}"
                               class="message-sender" style="text-decoration:none;">
            <div class="conversation-summary">
                <h2 class="conversation-title">Conversation with <img src="{% static thread.user_1.profile_picture %}"
                                                                      alt="Profile Picture"
                                                                      class="conversation-picture"> {{ thread.user_1.first_name }} {{ thread.user_1.last_name }}
                </h2>
                <ul>
                    <li class="message-summary">
                        <p class="message-body">
                            {{ thread.messages.last.sender.first_name }}: {{ thread.messages.last.message_body }}
                        </p>
                        <p class="message-timestamp">Sent: {{ thread.messages.last.timestamp }}</p>
                    </li>
                </ul>
            </div></a>
        {% endif %}
    {% endfor %}
{% endblock %}