{% extends 'base/base.html' %}
{#{% load static%}#}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>It works!</title>
    </head>
    <body>
    It works!
    <ul>
        {% for listing in object_list %}
            {% if listing.seller.user == request.user %}
            <b>
                <li> {{ listing.title }} {{ listing.price }} </li>
                {{ listing.seller.first_name }}
                from {{ listing.seller.city }}
                <a href="{% url 'listing detail' pk=listing.id %}">View</a>
            <a href="{% url 'listing edit' pk=listing.id %}">Edit</a>
            </b>
            {% else %}
            <li> {{ listing.title }} {{ listing.price }} </li>
                {{ listing.seller.first_name }}
                from {{ listing.seller.city }}
                <a href="{% url 'listing detail' pk=listing.id %}">View</a>
            {% endif %}


        {% endfor %}
    </ul>
    </body>
{% endblock %}