{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <head>
        <title>Markerplace</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <div class="search-form">
        <form method="GET" action="{% url 'search' %}">
            <label>
                <input type="text" name="q" placeholder="Search listings">
            </label>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <ul class="listings-container">
        {% for listing in object_list %}
            <li class="listing-item">
                {% with listing.productimage_set.first as product_image %}

                    <a href="{% url 'listing detail' pk=listing.id %}">{% if product_image.product_photos %}
                        <img class='product-photo'
                             src="{% static product_image.product_photos %}"
                             alt="">{% else %}<img class='product-photo'
                                                   src="{% static 'product_photos/default_product_image.png' %}"
                                                   alt="">{% endif %}</a>
                {% endwith %}
                <div class="listing-info">
                    <h2 class="listing-title">{{ listing.title }}</h2>
                    <p class="listing-price">{{ listing.price }} BGN</p>
                    <p class="listing-seller">{{ listing.seller.first_name }} from {{ listing.seller.city }}</p>
                    {% if listing.seller.user == request.user %}
                        <a href="{% url 'listing detail' pk=listing.id %}" class="btn btn-primary">View</a>
                        <a href="{% url 'listing edit' pk=listing.id %}" class="btn btn-secondary">Edit</a>
                    {% else %}
                        <a href="{% url 'listing detail' pk=listing.id %}" class="btn btn-primary">View</a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}