.container {
    display: flex;
    justify-content: space-between;
}

.listing-details {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.listing-details h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.listing-details p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.listing-details p.price {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-photo {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.profile-details {
    display: flex;
    align-items: normal;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.seller-name {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.profile-details p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.edit-button {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.edit-button:hover {
    background-color: #3e8e41;
}